flows.json
[
    {
        "id": "a4e712b024b98b1d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "87e41456313df70e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "0.0.0.0",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "956e032523609ba1",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7a9fe1f91738a1b5",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ef07ab609017a2ab",
        "type": "ui_group",
        "name": "Bluetooth",
        "tab": "956e032523609ba1",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": true,
        "className": ""
    },
    {
        "id": "dcbcd1fab1b80519",
        "type": "ui_group",
        "name": "CoAP",
        "tab": "956e032523609ba1",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": true,
        "className": ""
    },
    {
        "id": "95ec33f609b5c3de",
        "type": "ui_group",
        "name": "HTTP",
        "tab": "956e032523609ba1",
        "order": 3,
        "disp": true,
        "width": "9",
        "collapse": true,
        "className": ""
    },
    {
        "id": "ded4a66ab66bf8e9",
        "type": "ui_group",
        "name": "Performance",
        "tab": "956e032523609ba1",
        "order": 4,
        "disp": true,
        "width": "18",
        "collapse": true,
        "className": ""
    },
    {
        "id": "9adef82de76799e9",
        "type": "mqtt in",
        "z": "a4e712b024b98b1d",
        "name": "",
        "topic": "bluetooth/latency",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "87e41456313df70e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 200,
        "wires": [
            [
                "71aaf9297193c33a",
                "16ef3cd9092389db",
                "5e8268adb5a2fdc5",
                "713b86d221edcde9"
            ]
        ]
    },
    {
        "id": "71aaf9297193c33a",
        "type": "debug",
        "z": "a4e712b024b98b1d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 140,
        "wires": []
    },
    {
        "id": "6c1fa06e84c70292",
        "type": "mqtt in",
        "z": "a4e712b024b98b1d",
        "name": "",
        "topic": "bluetooth/packetLoss",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "87e41456313df70e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 260,
        "wires": [
            [
                "31fcb8fe31f048f6",
                "5328d8923beda6e2",
                "36395f5ecaaafb5c"
            ]
        ]
    },
    {
        "id": "c42fc6060e4d7dfa",
        "type": "mqtt in",
        "z": "a4e712b024b98b1d",
        "name": "",
        "topic": "bluetooth/throughput",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "87e41456313df70e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 320,
        "wires": [
            [
                "9aab4e8579bb4f43",
                "6e5206762315289e",
                "5c435e4c39973004"
            ]
        ]
    },
    {
        "id": "16ef3cd9092389db",
        "type": "ui_chart",
        "z": "a4e712b024b98b1d",
        "name": "",
        "group": "ef07ab609017a2ab",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Latency",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "9aab4e8579bb4f43",
        "type": "ui_gauge",
        "z": "a4e712b024b98b1d",
        "name": "",
        "group": "ef07ab609017a2ab",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Throughput",
        "label": "bytes/sec",
        "format": "{{value}}",
        "min": "0",
        "max": "500",
        "colors": [
            "#99c1f1",
            "#3584e4",
            "#1a5fb4"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 320,
        "wires": []
    },
    {
        "id": "31fcb8fe31f048f6",
        "type": "ui_text",
        "z": "a4e712b024b98b1d",
        "group": "ef07ab609017a2ab",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Packet Loss",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 260,
        "wires": []
    },
    {
        "id": "8e2a29939b497fd3",
        "type": "mqtt in",
        "z": "a4e712b024b98b1d",
        "name": "",
        "topic": "coap/latency",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "87e41456313df70e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 440,
        "wires": [
            [
                "b3777bfb548523e3",
                "4b6df77c2192b7b3",
                "5e8268adb5a2fdc5",
                "713b86d221edcde9"
            ]
        ]
    },
    {
        "id": "b3777bfb548523e3",
        "type": "debug",
        "z": "a4e712b024b98b1d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 380,
        "wires": []
    },
    {
        "id": "17cf920ff6aa184e",
        "type": "mqtt in",
        "z": "a4e712b024b98b1d",
        "name": "",
        "topic": "coap/packetLoss",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "87e41456313df70e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 500,
        "wires": [
            [
                "94d7f9b7c1821309",
                "5328d8923beda6e2",
                "36395f5ecaaafb5c"
            ]
        ]
    },
    {
        "id": "b26557b4975d6b8b",
        "type": "mqtt in",
        "z": "a4e712b024b98b1d",
        "name": "",
        "topic": "coap/throughput",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "87e41456313df70e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 560,
        "wires": [
            [
                "94c02f0ad8981830",
                "6e5206762315289e",
                "5c435e4c39973004"
            ]
        ]
    },
    {
        "id": "4b6df77c2192b7b3",
        "type": "ui_chart",
        "z": "a4e712b024b98b1d",
        "name": "",
        "group": "dcbcd1fab1b80519",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Latency",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "94d7f9b7c1821309",
        "type": "ui_text",
        "z": "a4e712b024b98b1d",
        "group": "dcbcd1fab1b80519",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Packet Loss",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 500,
        "wires": []
    },
    {
        "id": "ebe50cf4e4a580a4",
        "type": "mqtt in",
        "z": "a4e712b024b98b1d",
        "name": "",
        "topic": "http/latency",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "87e41456313df70e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 680,
        "wires": [
            [
                "f4a919b81ecbef7b",
                "3baaf756fa40c2ce",
                "5e8268adb5a2fdc5",
                "713b86d221edcde9"
            ]
        ]
    },
    {
        "id": "f4a919b81ecbef7b",
        "type": "debug",
        "z": "a4e712b024b98b1d",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 620,
        "wires": []
    },
    {
        "id": "cddabdeea810be19",
        "type": "mqtt in",
        "z": "a4e712b024b98b1d",
        "name": "",
        "topic": "http/packetLoss",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "87e41456313df70e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 740,
        "wires": [
            [
                "45428fcb896dc398",
                "5328d8923beda6e2",
                "36395f5ecaaafb5c"
            ]
        ]
    },
    {
        "id": "30d61271785b44c9",
        "type": "mqtt in",
        "z": "a4e712b024b98b1d",
        "name": "",
        "topic": "http/throughput",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "87e41456313df70e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 800,
        "wires": [
            [
                "78d7ca33805a9a01",
                "6e5206762315289e",
                "5c435e4c39973004"
            ]
        ]
    },
    {
        "id": "3baaf756fa40c2ce",
        "type": "ui_chart",
        "z": "a4e712b024b98b1d",
        "name": "",
        "group": "95ec33f609b5c3de",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Latency",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "45428fcb896dc398",
        "type": "ui_text",
        "z": "a4e712b024b98b1d",
        "group": "95ec33f609b5c3de",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Packet Loss",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 740,
        "wires": []
    },
    {
        "id": "94c02f0ad8981830",
        "type": "ui_gauge",
        "z": "a4e712b024b98b1d",
        "name": "",
        "group": "dcbcd1fab1b80519",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Throughput",
        "label": "bytes/sec",
        "format": "{{value}}",
        "min": "0",
        "max": "500",
        "colors": [
            "#99c1f1",
            "#3584e4",
            "#1a5fb4"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 560,
        "wires": []
    },
    {
        "id": "78d7ca33805a9a01",
        "type": "ui_gauge",
        "z": "a4e712b024b98b1d",
        "name": "",
        "group": "95ec33f609b5c3de",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Throughput",
        "label": "bytes/sec",
        "format": "{{value}}",
        "min": "0",
        "max": "500",
        "colors": [
            "#99c1f1",
            "#3584e4",
            "#1a5fb4"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 800,
        "wires": []
    },
    {
        "id": "5e8268adb5a2fdc5",
        "type": "ui_chart",
        "z": "a4e712b024b98b1d",
        "name": "",
        "group": "ded4a66ab66bf8e9",
        "order": 1,
        "width": 9,
        "height": 7,
        "label": "Latency",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ca3838",
            "#00b500",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1080,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "5328d8923beda6e2",
        "type": "ui_chart",
        "z": "a4e712b024b98b1d",
        "name": "",
        "group": "ded4a66ab66bf8e9",
        "order": 3,
        "width": 9,
        "height": 7,
        "label": "Packet Loss",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ca3838",
            "#00b500",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "6e5206762315289e",
        "type": "ui_chart",
        "z": "a4e712b024b98b1d",
        "name": "",
        "group": "ded4a66ab66bf8e9",
        "order": 5,
        "width": 9,
        "height": 7,
        "label": "Throughput",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ca3838",
            "#00b500",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "713b86d221edcde9",
        "type": "ui_chart",
        "z": "a4e712b024b98b1d",
        "name": "",
        "group": "ded4a66ab66bf8e9",
        "order": 2,
        "width": 9,
        "height": 7,
        "label": "Latency",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ca3838",
            "#00b500",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1080,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "36395f5ecaaafb5c",
        "type": "ui_chart",
        "z": "a4e712b024b98b1d",
        "name": "",
        "group": "ded4a66ab66bf8e9",
        "order": 4,
        "width": 9,
        "height": 7,
        "label": "Packet Loss",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ca3838",
            "#00b500",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "5c435e4c39973004",
        "type": "ui_chart",
        "z": "a4e712b024b98b1d",
        "name": "",
        "group": "ded4a66ab66bf8e9",
        "order": 6,
        "width": 9,
        "height": 7,
        "label": "Throughput",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ca3838",
            "#00b500",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 660,
        "wires": [
            []
        ]
    }
]