flows.json
[
    {
        "id": "a4e712b024b98b1d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9adef82de76799e9",
        "type": "mqtt in",
        "z": "a4e712b024b98b1d",
        "name": "",
        "topic": "topic/bluetooth/rtt",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "87e41456313df70e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 260,
        "wires": [
            [
                "71aaf9297193c33a",
                "16ef3cd9092389db"
            ]
        ]
    },
    {
        "id": "71aaf9297193c33a",
        "type": "debug",
        "z": "a4e712b024b98b1d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 200,
        "wires": []
    },
    {
        "id": "6c1fa06e84c70292",
        "type": "mqtt in",
        "z": "a4e712b024b98b1d",
        "name": "",
        "topic": "topic/bluetooth/packetLoss",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "87e41456313df70e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 320,
        "wires": [
            [
                "71aaf9297193c33a",
                "31fcb8fe31f048f6"
            ]
        ]
    },
    {
        "id": "c42fc6060e4d7dfa",
        "type": "mqtt in",
        "z": "a4e712b024b98b1d",
        "name": "",
        "topic": "topic/bluetooth/throughput",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "87e41456313df70e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 380,
        "wires": [
            [
                "71aaf9297193c33a",
                "9aab4e8579bb4f43"
            ]
        ]
    },
    {
        "id": "16ef3cd9092389db",
        "type": "ui_chart",
        "z": "a4e712b024b98b1d",
        "name": "",
        "group": "ef07ab609017a2ab",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "RTT",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "9aab4e8579bb4f43",
        "type": "ui_gauge",
        "z": "a4e712b024b98b1d",
        "name": "",
        "group": "ef07ab609017a2ab",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Throughput",
        "label": "b/s",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 380,
        "wires": []
    },
    {
        "id": "31fcb8fe31f048f6",
        "type": "ui_text",
        "z": "a4e712b024b98b1d",
        "group": "ef07ab609017a2ab",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Packet Loss",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "8e2a29939b497fd3",
        "type": "mqtt in",
        "z": "a4e712b024b98b1d",
        "name": "",
        "topic": "topic/coap/rtt",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "87e41456313df70e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 500,
        "wires": [
            [
                "b3777bfb548523e3",
                "4b6df77c2192b7b3"
            ]
        ]
    },
    {
        "id": "b3777bfb548523e3",
        "type": "debug",
        "z": "a4e712b024b98b1d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 440,
        "wires": []
    },
    {
        "id": "17cf920ff6aa184e",
        "type": "mqtt in",
        "z": "a4e712b024b98b1d",
        "name": "",
        "topic": "topic/coap/packetLoss",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "87e41456313df70e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 560,
        "wires": [
            [
                "b3777bfb548523e3",
                "94d7f9b7c1821309"
            ]
        ]
    },
    {
        "id": "b26557b4975d6b8b",
        "type": "mqtt in",
        "z": "a4e712b024b98b1d",
        "name": "",
        "topic": "topic/coap/throughput",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "87e41456313df70e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 620,
        "wires": [
            [
                "b3777bfb548523e3",
                "090de7284ab651e3"
            ]
        ]
    },
    {
        "id": "4b6df77c2192b7b3",
        "type": "ui_chart",
        "z": "a4e712b024b98b1d",
        "name": "",
        "group": "dcbcd1fab1b80519",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "RTT",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "090de7284ab651e3",
        "type": "ui_gauge",
        "z": "a4e712b024b98b1d",
        "name": "",
        "group": "dcbcd1fab1b80519",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Throughput",
        "label": "b/s",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 620,
        "wires": []
    },
    {
        "id": "94d7f9b7c1821309",
        "type": "ui_text",
        "z": "a4e712b024b98b1d",
        "group": "dcbcd1fab1b80519",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Packet Loss",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 560,
        "wires": []
    },
    {
        "id": "ebe50cf4e4a580a4",
        "type": "mqtt in",
        "z": "a4e712b024b98b1d",
        "name": "",
        "topic": "topic/http/rtt",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "87e41456313df70e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 740,
        "wires": [
            [
                "f4a919b81ecbef7b",
                "3baaf756fa40c2ce"
            ]
        ]
    },
    {
        "id": "f4a919b81ecbef7b",
        "type": "debug",
        "z": "a4e712b024b98b1d",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 680,
        "wires": []
    },
    {
        "id": "cddabdeea810be19",
        "type": "mqtt in",
        "z": "a4e712b024b98b1d",
        "name": "",
        "topic": "topic/http/packetLoss",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "87e41456313df70e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 800,
        "wires": [
            [
                "f4a919b81ecbef7b",
                "45428fcb896dc398"
            ]
        ]
    },
    {
        "id": "30d61271785b44c9",
        "type": "mqtt in",
        "z": "a4e712b024b98b1d",
        "name": "",
        "topic": "topic/http/throughput",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "87e41456313df70e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 860,
        "wires": [
            [
                "f4a919b81ecbef7b",
                "416c35aabc0e019f"
            ]
        ]
    },
    {
        "id": "3baaf756fa40c2ce",
        "type": "ui_chart",
        "z": "a4e712b024b98b1d",
        "name": "",
        "group": "95ec33f609b5c3de",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "RTT",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "416c35aabc0e019f",
        "type": "ui_gauge",
        "z": "a4e712b024b98b1d",
        "name": "",
        "group": "95ec33f609b5c3de",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Throughput",
        "label": "b/s",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 860,
        "wires": []
    },
    {
        "id": "45428fcb896dc398",
        "type": "ui_text",
        "z": "a4e712b024b98b1d",
        "group": "95ec33f609b5c3de",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Packet Loss",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 800,
        "wires": []
    },
    {
        "id": "87e41456313df70e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "0.0.0.0",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ef07ab609017a2ab",
        "type": "ui_group",
        "name": "Bluetooth",
        "tab": "956e032523609ba1",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dcbcd1fab1b80519",
        "type": "ui_group",
        "name": "CoAP",
        "tab": "956e032523609ba1",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "95ec33f609b5c3de",
        "type": "ui_group",
        "name": "HTTP",
        "tab": "956e032523609ba1",
        "order": 3,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "956e032523609ba1",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]